# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# pytest temporary directories
**/pytest-of-*

# Build artifacts
build/
dist/
*.egg-info/

# macOS artifacts
.DS_Store

# Node modules
node_modules/

# Pre-commit cache
.cache/